@charset "UTF-8";


.body-bg{
  background-color: #222d32;
}


/*公共模块*/
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}



html,body{
  height: 100%;
}
.lt_aside{
  position:absolute;
  transition:all 1s;
  left:0;
  width: 180px;
  height: 100%;
  background-color: #222d32;
}
.lt_aside .brand a{
  text-decoration:none;
  display: block;
  width: 180px;
  /*height: 50px;*/
  text-align: center;
  line-height: 50px;
  color:#fff;
  font-size: 24px;
  background-color: #367fa9;
}
.lt_aside .user img{
  display: block;
  width: 80px;
  height: 80px;
  margin:30px auto 0;
  border-radius:50%;
}
.lt_aside .user p{
  text-align: center;
  line-height: 40px;
  margin-bottom:10px;
  font-size: 16px;
  color:#fff;
}
.lt_aside .nav a{
  display: block;
  padding-left:40px;
  border-left:3px solid transparent;
  line-height: 40px;
  color:#fff;
  text-decoration:none;
}

.lt_aside .nav a.active{
  border-color:blue;
}

.lt_aside .second a{
  padding-left:60px;
}
.lt_aside.now{
 left:-180px;
}





/*右边区域*/
.lt_main{
  transition:all 1s;
  margin-left: 180px;
}
.lt_main.now{
  margin-left: 0px;
}

/*路径导航*/
.lt_header{
  padding:0 20px;
  line-height: 50px;
  background-color: #3c8dbc;
  margin-bottom:20px;
}
.lt_header a{
  color:#fff;
  font-size: 16px;
}

.container-fluid ol {
  height:30px;
}
.breadcrumb {
  padding: 8px 15px;
  margin-bottom: 20px;
  list-style: none;
  background-color: #f5f5f5;
  border-radius: 4px;}

.lt_content .charts_1,
.lt_content .charts_2 {
  width: 45%;
  height: 400px;
}

.breadcrumb a{
  text-decoration: none;
}
.breadcrumb li:last-child a{
  color: #777;
}

.mb_20{
  margin-bottom:20px;
}
.lt_content{
  padding-left:20px;
}
table td,
table th{
  text-align: center;
  line-height: 38px;
}

.table>#tbody>tr>td{
  vertical-align: middle;
}